.map {
    border: medium solid #999;
    margin: 10 px 0 0 20 px;
}

.countries {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.states {
	stroke: #fff;
	stroke-width: .5px;
	stroke-linecap: round;
}

.chart {
	float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: serif;
    font-size: 1.3em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: serif;
    font-size: 0.8em;
    fill: #999;
}

.gratLines {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.gratBackground {
    fill: #c6dbef;
}

.numbers {
	fill: grey;
	font-family: serif;
	font-size: .8em;
}